@using DataAccess.Entities;
@model Phone[]

<div class="row row-cols-1 row-cols-md-3 g-4">
    @for (int i = 0; i < @Model.Length; ++i)
    {
        <div class="col">
            <div class="card h-100">
                <img src="https://www.ipeople.in.ua/files/products/2832.800x600.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model[i].Name</h5>
                    <p class="card-text">This is @Model[i].Category.Name. Price is $@Model[i].Price</p>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-success" asp-route-phoneId="@Model[i].Id" asp-action="EditPhone" role="button">Edit phone</a>
                        <a class="btn btn-warning" asp-route-phoneId="@Model[i].Id" asp-action="DeletePhone" role="button">Delete phone</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-success" asp-action="AddPhone" role="button">Add new phone</a>
}